<div ng-controller="mainHeaderController">
    <div id="header" ng-if="showHeader">
        <div class="app-details">
            <div ng-show="isBackShown" ng-click="goBack()" class="icon-head-back"> </div>
            <div ng-show="!isBackShown" class="intouch-icon"></div>
            <div class="title">Aeonix Touch</div>
        </div>
        <div ng-show="isShowUserImage" class="controls-profile" ng-init="isShowExplicitPresenceMenu=false" ng-click="isShowExplicitPresenceMenu=!isShowExplicitPresenceMenu">

            <div>
                <img class="user-icon round-icon" ng-show="user.image && user.image.length > 0" ng-src="{{user.image}}" />
                <img class="user-icon round-icon" ng-show="!user.image || user.image.length == 0" ng-src="img/user-placeholder.png" />
            </div>
            <div class="block-prof-status">
                <i class="prof-status" ng-class="user.presence.combinedPresence.color">
                </i>
            </div>

            <div class="presence-selection-menu" ng-show="isShowExplicitPresenceMenu">
                <ul>
                    <li ng-repeat="type in presenceList" ng-click="setUserPresence(type)">
                        <div class="{{type.className}}">{{'messages.'+type.text|i18n}}</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="menu" class="head-menu" ng-if="showTabs">
        <ul class="menu">
            <li class="item-menu">
                <md-menu>
                    <a ng-click="showMenu($mdMenu,$event)">
                        <i class="menu-icon-menu" ng-class="{active: isSettingsActive}"></i>
                    </a>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="showSettings()">
                                Settings
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="changePassword()">
                                Change Password
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="showAbout()">
                                About
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="logout()">
                                Logout
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </li>
            <li class="item-menu">
                <a ui-sref="home.dialPad">
                    <i class="menu-icon-keypad" ng-class="{active: isDialPadActive}"></i>
                </a>
            </li>
            <li class="item-menu">
                <a ui-sref="home.favorites">
                    <i class="menu-icon-contacts" ng-class="{active: isContactsActive}"></i>
                    <span class="chat-messages-count" ng-if="missedCallsCounter.counter!=0">{{missedCallsCounter.counter}}</span>
                </a>
            </li>
            <li class="item-menu">
                <a ng-click="callVoiceMail()">
                    <i class="menu-icon-voice-mail"></i>
                    <span class="chat-messages-count" ng-if="newVoiceMailCounter.counter!=0">{{newVoiceMailCounter.counter}}</span>
                </a>
            </li>
            <li class="item-menu">
                <a ui-sref="home.chatList">
                    <i class="menu-icon-chat" ng-class="{active: isChatListActive}"></i>
                    <span class="chat-messages-count" ng-if="unseenMessagesCounter.counter!=0">{{unseenMessagesCounter.counter}}</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="call-queue-item" id="number-panel" ng-if="showCallQueueLink" ng-click="showCallQueue()">
        <div ng-if="callQueue.length == 1" class="pause-call open">
            <a>
                <div>
                    <div class="user">
                        <div class="user-avatar-img">
                            <img src="" ng-src="{{callQueue[0].contact.internal.img}}" alt="" />
                        </div>
                    </div>
                    <div class="user-info">
                        <div class="hold">{{callQueue[0].State|callState:call.ErrorReason|i18n}}</div>
                        <div class="name-user">{{callQueue[0].contact|contactName:this}}</div>
                    </div>
                </div>
            </a>
        </div>
        <div ng-if="callQueue.length > 1" class="active-call list">
            {{callQueue.length}} Active Calls
        </div>
    </div>
</div>