.chat-list-container {
    background-color: white;
    height:100%;
}

#content {
    height:100%;
}

.chat_list {
    background-color: white;
}

.chat_list .list_item {
    padding-bottom: 5px;
    margin-top: 10px;
    /*border-bottom: solid 1px rgb(222,222,222);*/
}

.chat_list .list_item .user_status {
    position: absolute;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-size: 17px 17px;
}

.chat_list .list_item .user_status.available {
    background-image: url("../images/states/icon-available.svg");
}

.chat_list .list_item .user_status.on_call {
    background-image: url("../images/states/icon-busy.svg");
}

.chat_list .list_item .user_status.dnd {
    background-image: url("../images/states/dnd.svg");
}

.chat_list .list_item .user_status.offline {
    background-image: url("../images/states/icon-logoff.svg");
}

.chat_list .list_item .user_status.unknown {
    background-image: url("../images/states/icon-uknown.svg");
}

.chat_list .list_item  .contact_avatar {
    float: left;
    border-radius: 50%;
    border-color: rgb(0,58,79);
    width: 50px;
    height: 50px;
    overflow:hidden;
}

.chat_list .list_item .row_1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: row-reverse;
}

.chat_list .list_item .row_1 .delete_chat{
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 22px;
    height: 22px;
    background-image: url("../images/element/trash.png");
}

.chat_list .list_item .row_1 .unseen{
    display: inline-block;
    text-align: center;
    background-color: #9e0000;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    min-width: 22px;
    height: 22px;
    line-height: 22px;
}

.chat_list .list_item .row_1 .contact_name {
    font-size: 20px;
    color: rgb(0,58,79);
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 12px;
    flex-grow: 100;
}


.chat_list .list_item .row_2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: row-reverse;
    margin-top: 5px;
}

.chat_list .list_item .row_2 .date {
    color:#979797;
}

.chat_list .list_item .row_2 .last_message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 100;
    margin-left: 12px;
    color:#979797;
}
.chat_list .list_item .row_3 {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    margin-top: 5px;
    align-items: center;
}

.chat_list .list_item .row_3 .icon-chat{
    display: inline-block;
    margin: 6px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/video-button/icon-chat.svg");
}
.chat_list .list_item .row_3 .delete_chat{
    display: inline-block;
    margin: 6px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
   background-image: url("../images/element/trash.png");
}
.chat_list .list_item .row_3 .icon-call{
  display: inline-block;
  margin: 6px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/buttons/icon-call.svg");
}
.small-icon{
    width: 22px;
    height: 22px;
}
.medium-icon{
    width: 36px;
    height: 36px;
}



