<div class="flex-parent-column intouch it-call" ng-controller="dialPadController" mobile-height>
    <!--keypad-height-->
    <div id="number-panel" ng-show="hasScrolled==false" class="flex-even center-vertically">
        <div class="number-type">

            <canvas id="canvas" height="30"></canvas>

            <div class="delete-number center" ng-tap="removeLetter()" ng-long-tap="eraseKeys()">
                <a ng-class="{'active':(keys.length > 0)}">
                    <i class="icon-elem icon-delete-disabled"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="contact-number-type open" ng-if="keys && searchResult.length>0">
        <div class="contact-item">
            <div class="user">
                <a class="user-avatar">
                    <div class="user-avatar-img">
                        <img src="" ng-src="{{searchResult[0].internal.img}}" alt="" />
                    </div>
                    <div class="block-prof-status">
                        <i class="icon-status" ng-class="searchResult[0]|statusClassFromUser"></i>
                    </div>
                </a>
            </div>
            <div class="user-info">
                <div class="name-user">{{searchResult[0]|contactName:this}}</div>
            </div>
            <div ng-click="onMoreClick()" class="more-conatcts" ng-if="searchResult.length > 0">
                <a>{{searchResult.length}}</a>
            </div>
        </div>

    </div>

    <div class="contact-list list-shrink" ng-class="{'list-expend': hasScrolled==true }" on-scroll="myScrollEvent()" ng-show="searchInstance.searchResult.length>0"
        mobile-height>
        <div class="contact-item" ng-repeat="contact in searchInstance.searchResult" on-finish-render="loopController" ng-click="makeCallToContact(contact, false)" >
            <div class=" contact-description ">
                <div class="contact-icon ">
                    <img class="round-icon user-icon " lazy-img="{{contact.internal.img}} " alt=" " />
                    <div ng-if="contact|showStatus " class="block-prof-status status " ng-class="contact|statusClassFromUser ">
                        <i class="icon-status " ng-class="contact|statusClassFromUser "></i>
                    </div>
                </div>
                <div class="contact-info ">
                    <div class="row_1 ">
                        <h1 class="left " ng-bind-html="contact|contactName:this:keys "></h1>
                    </div>
                    <h2 class="row_2 " ng-bind-html="contact.internal.lastSearchKey|searchHighlite:keys "></h2>
                </div>
            </div>
            <!-- <div ng-show="showDiv " class="row_3 ">
                <div ng-if="contact.internal.type.favoriteEnabled " ng-click="toggleFavorite($event, contact) ">
                    <div>
                        <i class="material-icons contact-icon "> {{contact.internal.isFav ? 'star':'star_border'}}</i>
                        <h3>favorite</h3>
                    </div>
                </div>
                <div ng-if="contact.internal.type.callEnabled " ng-click="makeCallToContact(contact, false) ">
                    <div>
                        <i class="material-icons contact-icon "> call</i>
                        <h3>call</h3>
                    </div>
                </div>
                <div ng-if="contact.internal.type.chatEnabled " ng-click="chatWithContact(contact) ">
                    <div>
                        <i class="material-icons contact-icon ">chat_bubble_outline</i>
                        <h3>message</h3>
                    </div>
                </div>
                <div ng-click="showContact(contact) ">
                    <div>
                        <i class="material-icons contact-icon "> info</i>
                        <h3>info</h3>
                    </div>
                </div>
            </div> -->
        </div>
    </div>


    <div class="key-pad-container " ng-show="hasScrolled==false ">
        <div class="keypad ">
            <div class="container-digits ">
                <div class="item-digit " ng-repeat="key in dialPadKeys " ng-tap="addLetter(key.digit) ">
                    <div class="digit ">{{key.digit}}</div>
                    <div class="letters ">{{key.letters}}</div>
                </div>
            </div>
            <div class="action-keypad ">
                <a>
                    <i class="icon-btn icon-call xlarge-icon " ng-click="makeCall() "></i>
                </a>
            </div>
        </div>
    </div>
    <i class="material-icons fab " ng-click="hasScrolled=false " ng-show="hasScrolled==true ">dialpad</i>

</div>