<div id="contact" class="contact-view" ng-controller="contactDetailsController" mobile-height>
    <div class="contact-details">
        <div class="user">
            <a class="user-avatar">
                <div class="user-avatar-img">
                    <img src="" ng-src="{{contact.internal.img}}" alt=""/>
                </div>
            </a>
        </div>
        <div class="user-info">
            <div class="name-user">{{contact|contactName:this}}</div>
            <div ng-if="contact|showStatus"
                 class="status" ng-class="contact|statusClassFromUser"><i
                    class="icon-status" ng-class="contact|statusClassFromUser"></i>{{contact.internal.status.combinedPresence.text|i18n}}
            </div>
        </div>
        <div class="favorit-contact">
            <a ng-if="contact|showFavorite"
               ng-click="toggleFavorite($event, contact, contact.internal.isFav)">
                <i ng-class="{active: contact.internal.isFav};" class="icon-elem icon-favorit"></i>
            </a>
        </div>
        <div class="contact-action">
            <a ng-click="makeCallToContact(contact, false)"><i
                    class="icon-btn icon-call-gray"></i></a>
            <a ng-click="chatWithContact(contact)"><i class="icon-btn icon-chat"></i></a>
        </div>

        <div class="contact-info">
            <div class="item"
                 ng-if="contact.contact.emailAddress && contact.contact.emailAddress.length > 0">
                <div class="title">Email</div>
                <div class="alias-item">
                    <div class="info-text">
                        <div>{{contact.contact.emailAddress}}</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="title">{{ 'messages.internalAliases' | i18n }}</div>
                <div class="alias-item" ng-repeat="aliaceNumber in contact.contact.aliases">
                    <div class="info-text">
                        <div class="desc">{{aliaceNumber.completeAliasName}}</div>
                    </div>
                    <div class="info-action">
                        <a ng-click="makeCallToAlias(aliaceNumber.completeAliasName, false)"><i
                                class="icon-btn icon-call-gray"></i></a>
                    </div>
                </div>
                <div class="alias-item" ng-if="contact.contact.alias">
                    <div class="info-text">
                        <div class="desc">{{contact.contact.alias}}</div>
                    </div>
                    <div class="info-action">
                        <a ng-click="makeCallToAlias(contact.contact.alias, false)"><i
                                class="icon-btn icon-call-gray"></i></a>
                    </div>
                </div>
            </div>
            <div class="item" ng-if="contact.contact.extAliases.length > 0">
                <div class="title">{{ 'messages.externalAliases' | i18n }}</div>
                <div class="alias-item"
                     ng-repeat="extAliasNumber in contact.contact.extAliases">
                    <div class="info-text">
                        <div class="desc">{{extAliasNumber}}</div>
                    </div>
                    <div class="info-action">
                        <a ng-click="makeCallToAlias(extAliasNumber, false)"><i
                                class="icon-btn icon-call-gray"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


