<div id="contact" class="contact-view" ng-controller="contactDetailsController" mobile-height>
   
    <div class="contact-details-container">
        <div class="head">
            <img class="xlarge-icon round-icon" lazy-img="{{contact.internal.img}}" />
            <h1 class="name-title">{{contact.internal.displayName}}</h1>
        </div>
        <div class="body">
            <h1 class="sub-title">Accounts</h1>
            <h2>{{names}}</h2>
            <div class="list" ng-repeat="contact in contacts">
                <div class="item">
                    <div class="left">
                        <div ng-if="contact.internal.type.name=='user'">
                            <h1>{{contact.contact.aliases[0].completeAliasName}}</h1>
                            <h2>From Aeonix</h2>
                        </div>
                        <div ng-if="contact.internal.type.name=='external'">
                            <h1>{{contact.contact.extAliases[0]}}</h1>
                            <h2>From Device</h2>
                        </div>

                    </div>
                    <div class="right">
                        <i class="material-icons contact-icon" ng-class="{'diabled-class': !contact.internal.type.favoriteEnabled}" ng-click="!contact.internal.type.favoriteEnabled || toggleFavorite($event, contact)">
                            {{contact.internal.isFav ? 'star':'star_border'}}</i>
                        <i class="material-icons contact-icon" ng-class="{'diabled-class': !contact.internal.type.callEnabled}" ng-click="!contact.internal.type.callEnabled || makeCallToContact(contact, false)">
                            call</i>
                        <i class="material-icons contact-icon" ng-click="!contact.internal.type.chatEnabled || chatWithContact(contact)" ng-class="{'diabled-class': !contact.internal.type.chatEnabled}">
                            chat_bubble_outline</i>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>