<!-- <div class="intouch it-menu menu-content" ng-controller="aboutController" mobile-height>
    <div>
        <div class="title">{{'messages.about'|i18n}}</div>
        <div class="login-version">Aeonix Touch</div>
        <div class="login-version">Version {{version}}</div>
        <div class="login-version">&copy; 2017 Tadiran Telecom</div>
        <div class="login-version">All rights reserved.</div>
    </div>
</div> -->


<div class="contact-details-container">
    <div class="head">
        <img class="user-icon round-icon" ng-src="img/user-placeholder.png" />
        <h1 class="name-title">Omer</h1>
    </div>
    <div class="body">
        <h1 class="sub-title">Accounts</h1>
        <h2>names</h2>
        <div class="list">
            <div class="item">
                <div class="left">
                    <h1>2231</h1>
                    <h2>Aeonix</h2>
                </div>
                <div class="right">
                    <i class="material-icons contact-icon"> favorite</i>
                    <i class="material-icons contact-icon"> call</i>
                    <i class="material-icons contact-icon"> chat_bubble_outline</i>
                </div>
            </div>
        </div>

    </div>
</div>