<!-- <div class="intouch it-menu menu-content" ng-controller="aboutController" mobile-height>
    <div>
        <div class="title">{{'messages.about'|i18n}}</div>
        <div class="login-version">Aeonix Touch</div>
        <div class="login-version">Version {{version}}</div>
        <div class="login-version">&copy; 2017 Tadiran Telecom</div>
        <div class="login-version">All rights reserved.</div>
    </div>
</div> -->


<div class="contact-details-container">
    <div class="head">
            <h1>esewe</h1>
    </div>
    <div class="body">
        <h1>sdsd</h1>
        <h2>jjjj</h2>
        <div class="list">

        </div>

    </div>
</div>