<div id="content"  class="login-detail-page intouch_page_single-coll p_login intouch it-login"
     ng-controller="ChangePasswordController"
     mobile-height>
    <div class="title">
        <span>{{'messages.ChangePassword'| i18n }}</span>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-4">
            <div class="form-group">
                <label>{{'messages.OldPassword'| i18n }}</label>
                <input dir="auto" ng-model="oldPassword" type="password" class="form-control" autofocus>
            </div>

            <div class="form-group">
                <label>{{'messages.newPassword'|i18n}}</label>
                <input dir="auto"  ng-model="newPassword" type="password" class="form-control">
                <div ng-repeat="failure in passwordFailures" style="color:red;">
                    *{{failure|passwordFailures:this}}
                </div>
            </div>

            <div class="form-group">
                <label>{{'messages.confirmPassword'|i18n}}</label>
                <input dir="auto" ng-model="confirmPassword" type="password" class="form-control">
            </div>
        </div>

    </div>
    <div class="col-xs-12">
        <div class="col-xs-12">
            <div class="center-horizontally">
                <button class="btn btn-center btn-ready" ng-click="changePassword()">{{ 'messages.ChangePassword' | i18n }}</button>
            </div>
        </div>
    </div>
    <div ng-show="error"  class="error-message">
        {{error}}
    </div>

</div>